]
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="page-header">
                    <h1>Trip Name</h1>
                </div>
            </div>
        </div>
    </div>

    <br>

    <table class="table table-borderless">

        <tbody>
            <tr>
                <th scope="row"></th>
                <td>Heather's 30th!</td>
                <td>Las Vegas, NV</td>
                <td>60 days left</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Electric Forest</td>
                <td>Rothbury, MI</td>
                <td>95 days left</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Winter Vacation</td>
                <td>Bali, Indonesia</td>
                <td>126 days left</td>
            </tr>
        </tbody>
    </table>

    