
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="page-header ">
                    <h1>My Trips</h1>
                </div>
            </div>
        </div>
    </div>

    <br>

  
    <!--DYNAMIC MY TRIPS CONTAINER -->

    <div class="row">
      <div class="col-md-12 notrips">
      
    <table class="table table-borderless mytrips-container">
        <thead>
            <tr>
            <th scope="col">Trip Name</th>
             <th scope="col">Destination</th>
             <th scope="col">Days Until</th>
             </tr>
        </thead>
        <tbody id="tablebody">
  </tbody>
</table>
</div>
    </div>