<body>


      <div class="news-container">
        <div class="row" id="news">
            <div class="col-md-12">
                <div class="news-header">


                    <h1> - Your Passport at your fingertips - </h1>

                    <br>

                    <h3>Coming soon to Google Play and the App Store.</h3>

                    <br>

                      <iframe class="resp-iframe" width="560" height="315" src="https://www.youtube.com/embed/wABwtSgMXys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>


     <footer class="footer">
         <div class="footer-containter">
             <span>Passport Mobile was coded with love by the following developers:</span>
             <br/>
             <span>Ashton Wetsel: https://github.com/aw-exe</span>
             <br/>
             <span>Steven Mann: https://github.com/stevencmann2</span>
             <br/>
             <span>An Phan: https://github.com/antphan98</span> 
         </div>
        
    </footer>

</body>