<body>

    <div class="news-container">
        <div class="row" id="news">
            <div class="col-md-12">
                <div class="news-header">

                    <h4>Your Passport at your fingertips</h4>

                    <br>

                    <h5>Coming soon to Google Play and the App Store.</h5>

                </div>

            </div>

        </div>

        <br>

         <div class="input-group col-5">                      
            <input type="text" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon2"> 
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Get Notified</button>
                </div>

        </div>

    </div>


     <footer class="footer">
         <div class="footer-containter">
             <span>Passport Mobile was coded with love by the following developers:</span>
             <br/>
             <span>Ashton Wetsel: https://github.com/aw-exe</span>
             <br/>
             <span>Steven Mann: https://github.com/stevencmann2</span>
             <br/>
             <span>An Phan: https://github.com/antphan98</span> 
         </div>
        
    </footer>

</body>