<body>

    <div class="container">
        <div class="row" id="news">
            <div class="col-md-12">
                <div class="news-header">
                    <h1>-Your Passport at your fingertips... -</h1>

                    <br>

                    <p>Coming soon to Google Play and the App Store.</p>

                   <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Get Notified</button>
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Footer</p>
    </div>
</body>