{{> navbar}}
<br>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Our Services</h1>
                        <p>Budget - track both personal and shared budgets with your travel companions.</p>
                        <p>Plan - have all your travel plan conversations in one place using our message boards.</p>
                        <p>Confirmations - save all your lodging, flight, rental car and activity confirmations in one
                            place.</p>
                    </div>
                </div>
            </div>
        </div>