  <div class="container">

    <div class="card">
        <div class="card-header">
          Your Budget Manager
        </div>
        <div class="card-body">
          <h5 class="card-title">Your Budget </h5>
          <p class="card-text">THIS IS WHERE THE USER WILL DEFINE HOW MUCH MONEY THEY WANT TO SPEND
              BY CATEGORY AND WELL DISPLAY A CHART WITH THEIR BUDGET GOALS</p>
          <a href="#" class="btn btn-primary">View Budget Manager</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          BUDGET BREAKDOWN 
        </div>
        <div class="card-body">
          <h5 class="card-title">TRACK YOUR BUDGET</h5>
          <p class="card-text">THIS IS WHERE WE WILL SHOW THEIR TOAL EXPENSES AS RELATED TO THEIR BUDGET
              IT WILL SHOW THEIR EXPENSES BY CATEGORY AND BY THEIR SET BUDGET GOALS
          </p>
          <a href="#" class="btn btn-primary">OPTIONAL BUTTON MAYBE DISPLAY DIFFERENT CHART</a>
        </div>
  </div>

      <div class="card">
        <div class="card-header">
          Expenses
        </div>
        <div class="card-body">
          <h5 class="card-title">Your Expenses</h5>
          <p class="card-text">THIS IS WHERE WE WILL LIST EXPENSES AND LET THEM ADD EXPENSES</p>
          <a href="#" class="btn btn-primary">ADD AN EXPENSE</a>
        </div>
      

    </div>