/* // Import Bootstrap’s source Sass files

// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/code";
// @import "../node_modules/bootstrap/scss/grid"; */


/* // Import Bootstrap’s source Sass files

// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/code";
// @import "../node_modules/bootstrap/scss/grid"; */

/* Welcome&Home Page */
.welcome-header {
    padding: 180px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

#welcome-page {
    background: url(../images/welcome.jpg);
    background-size: cover;
}

#navbar {
    font-family: 'Comfortaa', cursive;
}

#welcome-link {
    color: black;
}

/*About Page*/

#mission {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    padding: 40px 0;
}





